

// Colors
$primary-bg-color: #fff;
$secondary-bg-color: #F2F2F2;
$text-form-color: #8D8D8D;
$success-color: #71C94F;
$selected-color: #FF9F19;
$danger-color: #DC5D5D;

// button colors
$disabled-color: #C5C5C5;